---
const {
    title="Semper - Líder en Arroz en el Norte del Perú",
    description="Semper, con sucursales en Lambayeque y San Martín, ofrece produ    ctos de alta calidad como Espiga Norteña, Espiga Añejo y Doña Flor. Innovación y tecnología en el procesamiento del arroz.",
} = Astro.props;

---

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{title}</title>
<meta name="description" property="og:description" content={description} />
<meta name="keywords" content="arroz, semper, espiga norteña, espiga añejo, doña flor, pilado de arroz, secado de arroz, arroz Lambayeque, arroz San Martín, arroz Perú">
<link rel="canonical" href="https://www.semper.pe/">
<meta name="robots" content="index, follow">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Redes sociales: -->
<meta property="og:title" content="Semper - Líder en Arroz en el Norte del Perú">
<meta property="og:description" content="Descubre nuestros productos de alta calidad como Espiga Norteña, Espiga Añejo y Doña Flor.">
<meta property="og:image" content="https://www.semper.pe/assets/SemperLogo2.png">
<meta property="og:url" content="https://www.semper.pe/">
<meta property="og:type" content="website">
